.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  text-align: center;
  margin-top: 20px;
}

.input-text {
  border: 1px solid black;
  padding: 3px;
  width: 275px;
  text-align: center;
}

.p-text {
  margin-top: 20px;
}
